<audio class="player" src="app/styles/4-03 - Map 2 (Overworld).mp3" autoplay loop></audio>
<section>
    <img class="mariotitle" src ="app/styles/Images/750px-Super_Mario_World_box_logo.svg.png">
    <section class="secret">
        <img class="mario" src="app/styles/Images/worldmap.jpg">
        <img ng-click="$ctrl.showyoshi = true" ng-hide="$ctrl.showyoshi" class="exclam1" src="app/styles/Images/exclam.png">
        <img ng-click="$ctrl.showforest = true" ng-hide="$ctrl.showforest" class="exclam2" src="app/styles/Images/exclam.png">
        <img ng-click="$ctrl.showcastle = true" ng-hide="$ctrl.showcastle" class="exclam3" src="app/styles/Images/exclam.png">
    </section>
    <section ng-show="$ctrl.showyoshi" class="yoshi">
        <p>Yoshi's Island</p>
        <p>Spend the night in Yoshi's Treehouse! When you arrive on Yoshi's Island, you will be greeted by the Yoshi, the islands native inhabitants. The Yoshi are natural hosts, and you will have all the island has to offer at your fingertips. Enjoy delicious fruit, have a relaxing Yoshi-back ride, or stomp on some of the islands <span style="font-style: italic">less hospitable</span> inhabitants.</p>
        <button ng-click="$ctrl.showyoshi = false"><a target="_blank" href="https://www.mariowiki.com/Yoshi%27s_Island_(place)">Reserve Now</a></button>
    </section>
    <section ng-show="$ctrl.showforest" class="forest">
        <p>Forest of Illusion</p>
        <p>This particular site is for the more adventurous camper. The Forest of Illusion may have you thinking, "I've been here before". It's looping trails have a way of putting you right back where you started, it's best to bring a map. Some campers have also reported hearing the cackling of spooky Boos, but there are still no confirmed sightings. Please provide your own camping gear, and feel free to set up site anywhere you find yourself!</p>
        <button ng-click="$ctrl.showforest = false"><a target="_blank" href="https://www.mariowiki.com/Forest_of_Illusion">Reserve Now</a></button>
    </section>
    <section ng-show="$ctrl.showcastle" class="castle">
        <p>The Valley of Bowser</p>
        <p>Only the brave need make a reservation! This is typically a Goomba's home-away-from-home, but the King of the Koopas has been known to play host to a plumber or two. Enjoy the rigorous obstacles, such as sharp jagged rocks, Bullet Bill, and more Koopa Troopa's then you can shake a tanooki tail at. The only sites available are in Bowser's keep; the kind host offers up cells in his dungeon to all visitors! Hope to see you soon!</p>
        <button ng-click="$ctrl.showcastle = false"><a target="_blank" href="https://www.mariowiki.com/Valley_of_Bowser">Reserve Now</a></button>
    </section>
</section>