
.faveCard {
  height: 42%;
  width: 42%;
  margin: 2%;
}

.imgmain {
  height: 175px;
  width: 175px;
  background-color: grey;
  display: inline-block;
  position: relative;
  top: 14px;
  bottom: 8px;
  left: 15%;
  transform: translateX(-50%);
  border-radius: 8px;
  cursor: pointer;
  margin: 0;
}

.delete {
  margin-top: 25px;
  margin-left: 20px;
}

/* Material Icon Button */
.material-icons.md-36 { 
  font-size: 36px; 
  width: 36px;
}

.material-icons {
  color:  rgb(27, 71, 34);
}

.material-icons:hover{
  color:#ff0000;
  transition: .5s all;
}
.faved {
  color: #ff0000;
}

.favfilter {
  background-color: white;
  border: solid 3px #5f686b;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 8%;
}
.favfilter p {
  display: inline;
}