favorite {
  display: flex;
  flex-direction: column;
}
.favoritesect {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

favorite button {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.imgwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.imgmain {
  height: 175px;
  width: 175px;
  background-color: grey;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 2px black;
}

.delete {
  margin-top: 25px;
}

/* Material Icon Button */
.material-icons.md-36 { 
  font-size: 16px; 
  width: 16px;
}

.material-icons {
  color:  rgb(27, 71, 34);
}

.material-icons:hover{
  color:#FFFFFF;
  transition: .5s all;
}
.faved {
  color: #FFFFFF;
}

.favfilter {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 2px black;
}
.favfilter p {
  display: inline;
}