@media only screen and (min-width: 768px) {
  .camp:hover, .glamp:hover {
    transition: none;
  }
  /* results */
  .results {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .result {
    width: 47.5%;
  }
}

@media only screen and (min-width: 1224px) {
  /* search */
  .search {
    flex-direction: row;
    overflow: hidden;
  }
  .camp, .glamp {
    width:50%;
    height: calc(100vh - 50px);
  }

  .camp:hover, .glamp:hover {
    transform: scale(1.1);
    transition: ease-in-out .3s;
  }
  /* results  */
  results {
    display: flex;
  }
  .filters {
    width:12%;
    padding: 0;
    border:none;
    border-right: 1px solid #ccc;
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: flex-start;
  }
  .filter {
    width: 100%;
  }
  .results {
    width: 48%;
    height: calc(100vh - 50px);
    overflow-y: scroll;
  }
  .result {
    width: 47.5%;
  }
  #map {
    width: 40%;
    height: calc(100vh - 50px);
    display: flex;
  }
  .fixedRight, .fixedLeft {
    display: none;
  }
  /* details */
  .detail img {
    width: 50%;
  }
  /* ############ Contact Page ############ */
  .contact_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .bio {
    width: 40%;
    height: 40%;
    margin: 5%;
  }
  
  .contact_img {
    width: 90%;
    height: 90%;
  }
  
  .contact_txt {
    width: 90%;
    height: 90%;
  }
  /* footer */
  .footer_btn, .footer_clear {
    position: fixed;
  }
}