@media only screen and (min-width: 768px) {
  /* results */
  .results {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .result {
    width: 47.5%;
  }

  .winterdetails {
    width: 60%;
  }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 823px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .searchimage img {
    display: none;
  }
}
  @media only screen 
  and (min-device-width: 769px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .searchimage img {
    width: 50%;
    }
  }
@media only screen and (min-width: 1224px) {
  /* search */
  .search {
    flex-direction: row;
  }
  .searchinput {
    padding-left:150px;
    width:40%;
  }
  .searchinput h1 {
    font-size: 3em;
  }
  .searchimage {
    width:60%;
  }
  /* results  */
  results {
    display: flex;
  }
  .filters {
    width:12%;
    padding: 0;
    border:none;
    border-right: 1px solid #ccc;
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: flex-start;
  }
  .filter {
    width: 100%;
  }
  .results {
    width: 48%;
    height: calc(100vh - 50px);
    overflow-y: scroll;
  }
  .result {
    width: 47.5%;
  }
  #map {
    width: 40%;
    height: calc(100vh - 50px);
    display: flex;
  }
  .fixedRight, .fixedLeft {
    display: none;
  }
  /* details */
  .detail {
    display:flex;
  }
  .detailsimage {
    width:50%
  }
  .detailsinfo {
    width:50%;
    padding:50px;
  }
  .detail img {
    width: 100%;
  }
  /* ############ Contact Page ############ */
  .contact_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .bio {
    width: 40%;
    height: 40%;
    margin: 5%;
  }
  
  .contact_img {
    width: 90%;
    height: 90%;
  }
  
  .contact_txt {
    width: 90%;
    height: 90%;
  }
  /* footer */
  .footer_btn, .footer_clear {
    position: fixed;
  }
  /* ############# GoT Easter Egg #################### */
  .winterhome {
    flex-direction: row;
    overflow: hidden;
  }
  .wintercamp, .winterglamp {
    width:50%;
    height: calc(100vh - 50px);
  }

  .winterdetails {
    width: 50%;
  }
}