button {
  border: 1px solid black;
  padding: 5px 10px;
  background-color: transparent;
}
button:hover {
  transition: ease-in-out .2s;
  background-color: grey;
}
.results {
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   width: 100%;
   overflow-y: scroll;
 }
.results img {
  height: 4em;
  width: 10em;
}
.resultsmapwrap {
  display: flex;
  flex-direction: row;
  height: 100%;
}
 .campsites {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #FFFFFF;
   /* border-radius: 5px; */
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   padding: 0 10px;
   margin: 5px 0;
   width: 90%;
   height: 250px;
 }

 #map {
   height: 100vh;
   width: 100%;
   display:none;
 }

.fixedRight, .fixedLeft {
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  font-size: 30px;
  border-radius: 50%;
  color:#ddd;
  background:green;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
  padding:15px;
}

 .fixedRight {
  right: 15px; 
  display: flex;
}

.fixedLeft {
  left:15px;
  display:none;
}