@import url('https://fonts.googleapis.com/css?family=Lilita+One|Montserrat');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* header  */

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

a {
  color: #000;
  margin: 0 5px;
  padding: 5px;
  text-decoration: none;
}

a:hover {
  color: #4daf7c;
}

/* search */

.search {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

.camp {
  background: url('https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
}

.glamp {
  background: url('https://images.unsplash.com/photo-1536702280049-02b945c429e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1943&q=80');
}

.camp, .glamp {
  width: 100%;
  height: 50%;
  background-position: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camp h1, .glamp h1 {
  font-size: 6em;
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: 'Lilita One', cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 6px 6px 0 black;
  cursor: pointer;
}

/* results */

.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

.filter {
  width: calc(50% - 40px);
  padding: 10px;
}

.filter h2 {
  margin: 0;
}

.listingtype, .activities {
  padding: 0;
  border: none;
  list-style-type: none;
}

.checkboxfilter {
  top: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  width: 95%;
  margin-top: 15px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.result img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.resultinfo {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5em;
  margin: 0;
}

.blurb {
  font-weight: 300;
}

.resultbutt {
  width: 100%;
}

button {
  width: auto;
  margin: 10px 10px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  align-self: center;
  background-color: #4daf7c;
  color: #FFFFFF;
  text-transform: uppercase;
}

button a {
  color: #FFFFFF;
}

button:hover {
  background-color: #75f1b1;
}

#map {
  height: 100vh;
  width: 100%;
  display: none;
}

.fixedRight, .fixedLeft {
  right: 5px;
  bottom: 50px;
  padding: 15px;
  position: fixed;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  background: #4daf7c;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.fixedRight {
  display: flex;
}

.fixedLeft {
  display: none;
}

/* details  */

.detailsection {
  display: flex;
  flex-direction: column;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.detail img {
  width: 100%;
}

.detail span {
  font-weight: 800;
}

.details button {
  margin: 15px;
  align-self: flex-start;
}

.detailsbuttons {
  display: flex;
  justify-content: space-between;
}

.activityicons {
  width: 100%;
  display: flex;
}

.activityicons i {
  font-size: 1.8em;
  padding: 5px;
}

/* footer */

.footer_btn, .footer_clear {
  position: fixed;
  border: none;
  bottom: 0px;
  right: 0px;
  background-color: white;
  color: black;
  z-index: 200;
  padding: 10px;
  margin: 10px 0 0 10px;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
}

.footer_btn:hover {
  color: #FFFFFF;
}

.contact, .public {
  margin: 0;
}

.contact {
  padding-left: 5px;
}

.material-icons.md-18 {
  font-size: 18px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  /* Footer height */
  z-index: 10;
  border-top: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 1);
}

.footer_container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  border-top: 1px solid #ccc;
}

.footer_txt {
  margin-left: 1%;
  color: black;
}

/* ################################# Contact Page ################################ */

.contact_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bio {
  width: 90%;
  height: 90%;
  margin: 3%;
  text-align: center;
}

.contact_img {
  width: 90%;
  height: 90%;
}

.contact_txt {
  width: 80%;
  height: 90%;
  margin: 3%;
}
/* ################################# GoT Easter Egg ###################################### */
.winterintro {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  color: red;
  border-color: red;
  background-color: #200d07;
  margin: 0;
  padding: 1%;
  position: absolute;
  width: 100%;
 }

.winterhome {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.wintercamp {  
  background: 
  url(../styles/Images/The_Wall_from_the_south.jpg);
}
.winterglamp {
  background: 
  url(../styles/Images/Iron-Throne-game-of-thrones-.jpg);
}
.wintercamp, .winterglamp {
  top: 15%;
  width:100%;
  height: 50%;
  background-position: center;
  background-color: #050505;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wintercamp h1, .winterglamp h1 {
  font-size: 6em;
  font-family: 'Cinzel Decorative', cursive;
  margin-top: 60px;
  margin-bottom: 10px;
  letter-spacing: 4px;
  cursor: pointer;
}

.gotcamp {
  color: #0213f8;
  /* text-shadow: 2px 2px rgb(99, 206, 241); */
  text-shadow: 0 1px #4bb7e9,
  -1px 0 #cdd2d5,
  -1px 2px #4bb7e9,
  -2px 1px #cdd2d5,
  -2px 3px #4bb7e9,
  -3px 2px #cdd2d5,
  -3px 4px #4bb7e9,
  -4px 3px #cdd2d5,
  -4px 5px #4bb7e9,
  -5px 4px #cdd2d5,
  -5px 6px #4bb7e9,
  -6px 5px #cdd2d5,
  -6px 7px #4bb7e9,
  -7px 6px #cdd2d5,
  -7px 8px #4bb7e9,
  -8px 7px #cdd2d5;
}

.gotglamp {
  color: #ff5100;
  /* text-shadow: 2px 2px rgb(231, 127, 30); */
  text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -30px 35px #ec760c,
  -20px -40px 40px #cd4606,
  0 -50px 65px #973716,
  10px -70px 70px #451b0e;
}

.winterdetails {
  width: 70%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.winterdetails span{
  font-weight: bold;
}

.winter_btn {
  color: blue;
  background-color: black;
  border: none;
  width: 90%;
}

.winter.btn:hover {
  color: red;
}

.winterdetailspage {
  background-image: url("/app/styles/Images/122996.jpg");
  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}