body {
  height: 100%;
  margin: 0;
}
 .winterintro {
  font-family: 'Cinzel Decorative', cursive;
 }
 
.winterhome {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.wintercamp {  
  background: 
  url(../styles/Images/The_Wall_from_the_south.jpg);
}
.winterglamp {
  background: 
  url(../styles/Images/Iron-Throne-game-of-thrones-.jpg);
}
.wintercamp, .winterglamp {
  width:100%;
  height: 50%;
  background-position: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wintercamp h1, .winterglamp h1 {
  font-size: 6em;
  font-family: 'Cinzel Decorative', cursive;
  margin-top: 60px;
  margin-bottom: 10px;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 6px 6px 0 black;
  cursor: pointer;
}