<section>
  <p><h4>Campground Name:</h4> {{$ctrl.campSite.name}}</p>
  <p><h4>Campground Description:</h4> {{$ctrl.campSite.description}}</p>
  <p><h4>Weather Overview:</h4> {{$ctrl.campSite.weatherOverview}}</p>
  <p><h4>Directions Overview:</h4> {{$ctrl.campSite.directionsOverview}}</p>
  <p class="alert"><h4>Important Information:</h4> {{$ctrl.alert.title}}</p>
  <button ng-click="$ctrl.campSearch()">Back To Results</button>
</section>


<!-- <section ng-repeat="alert in $ctrl.alerts">
    <p>alert.title</p>
    <p>alert.description</p>
</section> -->