<section class="details">
    <button ng-click="$ctrl.glampSearch()">Back To Results</button>
    <div class="detail">
  
      <img src="{{$ctrl.glampDetails.img2}}">
      <h3>{{$ctrl.glampDetails.name}}</h3>
      <p>Description: {{$ctrl.glampDetails.description}}</p>
      <p>Activities:</p>
    </div>
    <div class="activityicons">
      <i class="fas fa-fish"></i>
      <i class="fas fa-hiking"></i>
      <i class="fas fa-bicycle"></i>
      <i class="fas fa-swimmer"></i>
    </div>
    </section>