<section class="detailsection">
  <div class="detailsbuttons">
    <button ng-click="$ctrl.glampSearch()">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="fave_btn" ng-click="$ctrl.fave($ctrl.glampDetails)">
      <i class="fas fa-star"></i>
    </button>
  </div>

  <div class="detail">
    <div class="detailsimage">
      <img src="{{ $ctrl.glampDetails.img2 }}" />
    </div>

    <div class="detailsinfo">
      <h3>{{ $ctrl.glampDetails.name }}</h3>
      <p> {{ $ctrl.glampDetails.description }}</p>
      <p>
        <span>Activities:</span>
        <i class="fas fa-fish"></i>
        <i class="fas fa-hiking"></i>
        <i class="fas fa-bicycle"></i>
        <i class="fas fa-swimmer"></i>
      </p>
      <button>
        <a href="{{ $ctrl.glampDetails.bookingurl }}" target="_blank"
          >More Info</a
        >
      </button>
    </div>
  </div>
</section>
