
<p>HELLO</p>
<section ng-repeat="camp in $ctrl.wintercampresults | $ctrl.winterglampresults">  
  <h3>Name: {{camp.name}}</h3>
  <p>Description: {{camp.description}}</p>
  <img src="{{camp.img2}}" alt="photo not found">
  <img src="{{camp.img1}}" alt="photo not found">
  <a href="{{camp.url}}" target="_blank">More Info</a>
</section>

<section ng-repeat="wcamp in $ctrl.winterglampresults">  
  <h3>Name: {{wcamp.name}}</h3>
  <p>Description: {{wcamp.description}}</p>
  <img src="{{wcamp.img2}}" alt="photo not found">
  <img src="{{wcamp.img1}}" alt="photo not found">
  <a href="{{wcamp.url}}" target="_blank">More Info</a>
</section>