<header class="header">
  <div class="leftnav">
    <a href="#!/search">
      <i class="fas fa-campground"></i>
    </a>
  </div>
  <div class="rightnav">
    <a href="#!/results">
      <i class="fas fa-list-ul"></i>
    </a>
    <a href="#!/favorite">
      <i class="fas fa-star"></i>
    </a>
  </div>
</header>

<ng-view></ng-view>

<button ng-click="$ctrl.show()" ng-hide="$ctrl.publicBtn" class="footer_btn">
  <p class="public"><i class="fas fa-globe-americas"></i>
  <p class="contact">More</p>
</button>

<button
  class="footer_clear"
  ng-show="$ctrl.footerBtn"
  ng-click="$ctrl.hide(); $ctrl.showFooter = false; $ctrl.footerBtn = false">
  Close <i class="material-icons">clear</i>
</button>

<div ng-show="$ctrl.showFooter" class="footer_container">
  <footer id="footer">
    <a class="footer_txt" ng-click="$ctrl.hide(); $ctrl.showFooter = false; $ctrl.footerBtn = false" href="#!/contact">Team Camp or Glamp</a>
    <p class="footer_txt">Data provided by DNR and GlampingHub</p>
    <p class="footer_txt">Maps provided by Google</p>
    <a class="footer_txt" ng-click="$ctrl.hide(); $ctrl.showFooter = false; $ctrl.footerBtn = false" href="#!/winter">Alpha</a>
    <a class="footer_txt" ng-click="$ctrl.hide(); $ctrl.showFooter = false; $ctrl.footerBtn = false" href="#!/secret">Beta</a>
  </footer>
</div>
