<!-- <form ng-submit="$ctrl.campSearch($ctrl.state)">
        <input ng-model="$ctrl.state" type="text" placeholder="Enter a state (ex Michigan)">
        <button>Let's Go!</button>
</form> -->

<section class="split top left">
  <div class="centered">
    <form ng-submit="$ctrl.campSearch($ctrl.state)">
        <p class="title camp" ng-click="$ctrl.campSearch($ctrl.state)">Camp</p>
        <input ng-model="$ctrl.state" expand class="desktop_input2" type="text" placeholder="Start Here: Enter State" ng-focus="">
        <button class="search" ng-click="$ctrl.campSearch()">SEARCH</button>
    </form>
  </div>
</section>

<p class="or">~OR~</p>
<form ng-submit="$ctrl.campSearch($ctrl.state)">
        <input ng-model="$ctrl.state" expand class="mobile_input" type="text" placeholder="Start Here: Enter State" ng-focus="">
</form>


<section class="split bottom right">
  <div class="centered" >
    <form >
        <p ng-click="$ctrl.glampSearch($ctrl.gstate)" class="title glamp">Glamp</p>
        <input ng-model="$ctrl.gstate" expand class="desktop_input2" type="text" placeholder="Start Here: Enter State" ng-focus="">
        <button class="search" ng-click="$ctrl.glampSearch($ctrl.gstate)">SEARCH</button>
    </form>

  </div>
</section>

<button ng-click="$ctrl.show()" ng-hide="$ctrl.publicBtn" class="footer_btn">
  <p class="public"><i class="material-icons md-18">public</i></p>
  <p class="contact">Contact Us, Terms, & more</p>
</button>

<button class="footer_clear" ng-show="$ctrl.footerBtn" ng-click="$ctrl.hide(); $ctrl.showFooter = false; $ctrl.footerBtn = false">Close <i class="material-icons">clear</i>
</button>

<div ng-show="$ctrl.showFooter" class="footer_container">
  <footer id="footer">
    <p class="footer_txt">Team Camp or Glamp</p>
    <p class="footer_txt">Data provided by the National Parks Service</p>
    <p class="footer_txt">Maps provided by Google</p>
  </footer>
</div>

