<section class="contact_container">
  <div class="bio">
    <img class="contact_img" src="app/styles/Images/cameron-couch.jpeg" alt="">
    <p class="contact_txt">A passionate developer and driven leader. Looking to lead the way in a new industry!</p>
    <p class="contact_txt">"My childhood was spent camping with my family and as a scout and now, as an adult, I ensure my passion for the outdoors can be experienced everyday."</p>
  </div>

  <div class="bio">
    <img class="contact_img" src="app/styles/Images/Renee-Mcleoud.jpg" alt="">
    <p class="contact_txt">Front End Web Developer changing paths from communications to coding.</p>
    <p class="contact_txt">"My last experience camping has made me a glamper for life."</p>
  </div>

  <div class="bio">
    <img class="contact_img" src="app/styles/Images/Justin-Morrow.jpg" alt="">
    <p class="contact_txt">Overseas contractor, learning enthusiast and tech investor, progressed to Front End Developer.</p>
    <p class="contact_txt">"Some of my fondest memories were wilderness camping as part of my Americorps service."</p>
  </div>

  <div class="bio">
    <img class="contact_img" src="app/styles/Images/Antheny-Wells.jpeg" alt="">
    <p class="contact_txt">Web Developer / Problem Solver</p>
    <!-- <p class="contact_txt"></p> -->
  </div>
</section>