<div class=resultsmapwrap>
<div class="results">
  <section ng-repeat="sites in $ctrl.campresults track by $index" class="campsites">
    <h3>{{sites.name}}</h3>
    <!-- <p>{{sites.latLong}}</p> -->

    <button ng-click="$ctrl.getDetails(sites)">Details</button>
  </section>
</div>

<div id="map"></div>

<button class="fixedRight" ng-click=$ctrl.showMap();>
  <i class="fas fa-map-marked-alt"></i>
</button>

<button class="fixedLeft" ng-click=$ctrl.showResults();>
    <i class="fas fa-list-ul"></i>
</button>
</div>